<div class="profile-container">
  <h2><nz-icon nzType="user" /> Quản lý Tài khoản</h2>

  <div class="tab-content" *ngIf="!isLoadingProfile; else loadingTemplate">
    <nz-descriptions nzTitle="Thông tin cá nhân" nzBordered [nzColumn]="{ xxl: 2, xl: 2, lg: 2, md: 1, sm: 1, xs: 1 }">
      <nz-descriptions-item nzTitle="Tên Đăng Nhập">{{ userInfo?.username }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Email">{{ userInfo?.email || 'Chưa cập nhật' }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Quyền hạn">{{ userInfo?.role }}</nz-descriptions-item>
    </nz-descriptions>
  </div>

  <ng-template #loadingTemplate>
    <div class="loading-state">
      <nz-spin nzSimple nzSize="large"></nz-spin>
    </div>
  </ng-template>
</div>
