<div class="login-container">
  <button
    nz-button
    class="back-button"
    nzType="default"
    nzShape="circle"
    routerLink="/"
  >
    <nz-icon nzType="arrow-left" />
  </button>
  <div class="login-box">
    <div class="login-header">
      <h2>Đăng nhập Hệ thống</h2>
      <p>Nhập tên tài khoản và mật khẩu để tiếp tục</p>
    </div>

    <form
      nz-form
      [formGroup]="loginForm"
      class="login-form"
      (ngSubmit)="submitForm()"
    >
      <app-custom-input
        formControlName="username"
        placeholder="Tên đăng nhập"
        prefixIcon="user"
        errorTip="Vui lòng nhập tên đăng nhập!"
      ></app-custom-input>

      <app-custom-input
        formControlName="password"
        type="password"
        placeholder="Mật khẩu"
        prefixIcon="lock"
        errorTip="Vui lòng nhập mật khẩu!"
      ></app-custom-input>

      <div nz-row class="login-form-margin">
        <div nz-col [nzSpan]="13">
          <label nz-checkbox formControlName="remember">
            <span>Ghi nhớ đăng nhập</span>
          </label>
        </div>
        <div nz-col [nzSpan]="11" class="login-form-forgot">
          <a class="login-form-forgot">Quên mật khẩu?</a>
        </div>
      </div>

      <button
        nz-button
        class="login-form-button login-form-margin"
        [nzType]="'primary'"
        [nzLoading]="isLoading"
        nzBlock
      >
        Đăng nhập
      </button>

      <div class="login-footer">
        Hoặc <a routerLink="/register">đăng ký ngay!</a>
      </div>
    </form>
  </div>
</div>
