<div class="register-container">
  <button
    nz-button
    class="back-button"
    nzType="default"
    nzShape="circle"
    routerLink="/"
  >
    <nz-icon nzType="arrow-left" />
  </button>
  <div class="register-box">
    <div class="register-header">
      <h2>Đăng ký Tài khoản</h2>
      <p>Điền thông tin của bạn để tạo tài khoản mới</p>
    </div>

    <form
      nz-form
      [formGroup]="registerForm"
      class="register-form"
      (ngSubmit)="submitForm()"
    >
      <app-custom-input
        formControlName="username"
        placeholder="Tên đăng nhập"
        prefixIcon="user"
        errorTip="Vui lòng nhập tên đăng nhập dài hơn 4 ký tự!"
      ></app-custom-input>

      <app-custom-input
        formControlName="email"
        type="email"
        placeholder="Email (abc@gmail.com)"
        prefixIcon="mail"
        errorTip="Vui lòng nhập Email hợp lệ!"
      ></app-custom-input>

      <app-custom-input
        formControlName="password"
        type="password"
        placeholder="Mật khẩu"
        prefixIcon="lock"
        errorTip="Vui lòng nhập mật khẩu dài hơn 6 ký tự!"
        (ngModelChange)="updateConfirmValidator()"
      ></app-custom-input>

      <app-custom-input
        formControlName="confirmPassword"
        type="password"
        placeholder="Nhập lại Mật khẩu"
        prefixIcon="lock"
        [errorTip]="registerForm?.get('confirmPassword')?.hasError('required') ? 'Vui lòng xác nhận mật khẩu!' : registerForm?.get('confirmPassword')?.hasError('confirm') ? 'Hai mật khẩu không khớp!' : ''"
      ></app-custom-input>

      <button
        nz-button
        class="register-form-button register-form-margin"
        [nzType]="'primary'"
        [nzLoading]="isLoading"
        nzBlock
      >
        Tạo tài khoản
      </button>

      <div class="register-footer">
        Đã có tài khoản? <a routerLink="/login">Đăng nhập</a>
      </div>
    </form>
  </div>
</div>
