<div class="footer-container">
  <div nz-row nzGutter="24">
    <div nz-col nzSpan="8">
      <h3>Về ToolCNC</h3>
      <p>
        Chuyên cung cấp máy gia công CNC, phụ tùng và dao cụ chất lượng cao.
        Khẳng định thương hiệu uy tín.
      </p>
    </div>
    <div nz-col nzSpan="8">
      <h3>Liên kết nhanh</h3>
      <ul>
        <li><a href="#">Giới thiệu</a></li>
        <li><a href="#">Chính sách bảo hành</a></li>
        <li><a href="#">Hướng dẫn mua hàng</a></li>
      </ul>
    </div>
    <div nz-col nzSpan="8">
      <h3>Liên hệ</h3>
      <p><nz-icon nzType="phone" /> Hotline: 1900 xxxx</p>
      <p><nz-icon nzType="mail" /> Email: contact&#64;toolcnc.vn</p>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2026 ToolCNC Pts. All Rights Reserved.</p>
  </div>
</div>
